SMTP_HOST=
SMTP_PORT=465
SMTP_SECURE=true
MAIL_USE_SSL=true
MAIL_USE_STARTTLS=false
MAIL_TIMEOUT_SECONDS=20
SMTP_USER=
SMTP_PASSWORD=
MAIL_FROM_ADDRESS=anfrage@munich-bike-rental.de
MAIL_TO_ADDRESS=hallo@munich-bike-rental.de
SITE_URL=http://localhost:3000
APP_ORIGIN=http://localhost:3000
APP_IMAGE=ghcr.io/porzel-net/munich-bike-rental:latest
NEXT_PUBLIC_GA_MEASUREMENT_ID=G-RSPEH19Q6Y
